<div>
<div class="page_title">
  <h1>Deals for <%=@day.name%></h1>
  </div>
  <% unless @deals_today == nil %>
  <% @deals_today.each do |key, value| %>
  <div margin-top=20px;>
    <h2><%= "#{key}"%></h2>
    <div class="deals">
      <% value.each do |key2, value2| %>
      <div class="deal">
        <h3><%= "#{key2}"%></h3>
        <p>Deal type: <%= "#{value2[0]['details']}" %></p>
        <p>Burgers included:</p>
        <ul>
          <% value2.each do |x| %>
          <li><%= "#{x['burger']}"%></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% else %>
  <div><h2>Sorry, no deals today!</h2></div>
  <% end %>
</div>