<div>

  <h1><%=@eatery.name%></h1>
  <h2>Add new deal</h2>

  <form action="/deal/confirm" method ="post">

    <p>
      <label>
      Deal name: <input type="text" name="name" />
      </label>
    </p>

    <p>
      <label>
      Description of deal: <input type="text" name="description" />
      </label>
    </p>
    
    <p>
      <label>
        Day: <select name="day_id">
          <% @days.each do |day| %>
          <option value="<%=day.id%>"><%=day.name%></option>
          <%end%>
        </select>
      </label>
    </p>
    <div class="deal">
    <h3>Select burgers in this deal (optional)</h3>
    
    <p>
    <% @burgers.each do |burger| %>
    <input type="checkbox" name="burger[]" value="<%=burger.id%>"><%=burger.name%><br>
    <% end %>
    <%= @noburgers %>
    </p>
    </div>
    <input type="hidden" name="eatery_id" value="<%=@eatery.id%>"
    <p>
      <input type="submit" value="Add this deal" />
    </p>
  </form>

</div>
