<div>

  <h1><%=@eatery.name%></h1>
  <h2>Update deal: <%= @deal.name %></h2>

  <form action="/deal/updated" method ="post">

    <p>
      <label>
      Deal name: <input type="text" name="name" value="<%= @deal.name %>"/>
      </label>
    </p>

    <p>
      <label>
      Description of deal: <input type="text" name="description" value="<%= @deal.description %>"/>
      </label>
    </p>
    
    <p>
      <label>
        Day: <select name="day_id">
          <% @days.each do |day| %>
          <option value="<%=day.id%>"><%=day.name%></option>
          <%end%>
        </select>
      </label>
    </p>

    <h3>Select burgers in this deal (even if you're updating this deal, make sure you tick the right burgers! Otherwise, they will be removed from the deal...)</h3>
    <p>
    <% @burgers.each do |burger| %>
    <input type="checkbox" name="burger[]" value="<%=burger.id%>"><%=burger.name%><br>
    <% end %>
    <%= @noburgers %>
    </p>
    <input type="hidden" name="eatery_id" value="<%=@eatery.id%>" />
    <input type="hidden" name="id" value="<%=@deal.id%>" />
    <p>
      <input type="submit" value="Update this deal" />
    </p>
  </form>

</div>
